@using GroceryStoresApp.ViewModels
@model ShoppingCartViewModelcs


@{
    ViewData["Title"] = "Index";
}

<h6>Your shopping cart</h6>
<h6>Here are the Exciting Books in your shopping cart.</h6>
<table class="table table-bordered table-striped">
    <thead>
        <tr>

            <th class="text-center">Movie</th>
            <th class="text-center">Price</th>
            <th class="text-center">Image</th>
            <th class="text-center">Quantity</th>
            <th class="text-right">Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
        {
        <tr>
            <td class="text-center">@line.store.title</td>
            <td class="text-center">@line.store.price.ToString("c")</td>
            
             @{
                        string ite="";
                        int parameterValue = @line.store.imgname.IndexOf("wwwroot");
                        if (parameterValue!=-1)
                        {
                              ite = @line.store.imgname.Substring(48);
                        }
                       
                    }
             <td class="text-center"><img src="~/@ite" height="50px" width="50px" /></td>
            <td class="text-center">@line.NoOfItems</td>
            <td class="text-right">
                @((line.NoOfItems * line.store.price).ToString("c"))
            </td>
            <td class="text-center">
                        <a class="btn btn-outline-danger"
                           asp-controller="ShoppingCartItems"
                           asp-action="RemoveFromShoppingCart"
                           asp-route-Id="@line.store.id">Remove from Cart</a>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right font-weight-bold">
                @Model.ShoppingCartTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div>
    <button class="btn btn-success text-light col-3">
        Checkout
        </button>
</div>
  @Html.ActionLink("Go To Product","Product","Home" ) 
 
